.aurora-helper-snackbar-content {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between;
  width: 100%;

  div {
    display: flex !important;
    align-items: center !important;
    justify-content: start;
  }
}
