/* You can add global styles to this file, and also import other style files */
* {
  transition: all 0.3s ease-in;
}
html,
body {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
